{% extends '::base.html.twig' %}

{% block body %}

<div class="container">
	<h1>
		Wesh gros !
	</h1>
	<p> Merci d'avoir raccourci {{entity.originalUrl}} en {{entity.slug}} ! </p>
</div>

{% endblock %}