{% extends '::base.html.twig' %}

{% block body %}

<div class="container">
	<h1>
		Wesh gros !
	</h1>
	{% if original_url is defined %}
		<p> Merci de vouloir raccourcir {{original_url}}, gros ! </p>
	{% endif %}
</div>

{% endblock %}